.vscode/**
.vscode-test/**
src/**
.gitignore
.prettierrc
.prettierignore
eslint.config.mjs
esbuild.mjs
*.map
node_modules/**
tsconfig.json
vitest.config.ts
coverage/**
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md
.github/**
package-lock.json
